@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300&display=swap');

*{
    padding:0;
    margin:0;
    border:0;
    box-sizing:border-box;
    text-decoration:none;
}

body{
    background:#f2cca6;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}

main{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.box-principal{
    display:flex;
    min-height: 100vh;
    background-color:#FAF7FD;
}

.box-principal .box-esquerda{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box-principal .box-esquerda .logo{
   width: 88%;
}

.box-principal .box-esquerda .content-perfil{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.box-principal .box-esquerda .content-perfil .img-perfil{
    width: 88%;
    border:0.2rem solid #DB3A21;
    border-radius: 50%;
    padding: 0.2rem;
}

.box-principal .box-esquerda .content-perfil a{
    font-size: 1.5rem;
    color: #DB3A21;
}

.box-principal .box-esquerda .content-perfil a:hover{
    font-size: 1.7rem;
    font-weight: 600;
}

.box-principal .box-esquerda .social-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 2rem 0;
}

.box-principal .box-esquerda .social-field{
    display:block;
    margin: 0 auto;
    width: 70%;
    height: 25%;
    border-radius: 6px;
    cursor: pointer;
}

.box-principal .box-esquerda .social-field:hover{
    width: 80%;
    height: 30%;
}

.box-principal .box-esquerda .social-field a {
    color: #FAF7FD;
    text-align: center;
}

.box-principal .box-esquerda .social-field a i {
padding: 0.5rem 20% 0.5rem 7%;
}

.box-principal .box-esquerda .social-field.facebook{
    background: linear-gradient(to right, #1e3c72, #2a5298);
}
.box-principal .box-esquerda .social-field.twitter{
    background: linear-gradient(to right, #56a7f2, #468aca);
}
.box-principal .box-esquerda .social-field.linkedin{
    background: linear-gradient(to right, #0E76A8, #468aca);
}

.box-principal .box-direita{
    width: 80%;
    display: flex;
    flex-direction: column; 
}

.box-principal .box-direita .titulo{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    display: block;
    margin: 0 auto;
    align-items: center;
    padding-top: 1rem;
    position: relative;
}

.grad1{
    color: #E73A16;
}

.grad2{
    color: #B43A16;
}

.box-principal .box-direita .titulo::before{
    content: '';
    position: absolute;
    border-radius: 10px;
    height: 5px;
    width: 6.9rem;
    background-color: #DB3A21;
    top: 5.9rem;
    left: 0.1rem;
}

.box-principal .box-direita .flex{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.box-principal .box-direita .flex img{
    max-width: 200px;
}

.box-principal .box-direita .flex > div{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex: 1 1 16rem;
    margin: 0.5rem 0.3rem;
    border: 1px solid #DB3A21;
    border-radius: 1.5rem;
    cursor: pointer;
}

.box-principal .box-direita .flex > div:hover{
     border: 3px solid #DB3A21;
}

.box-principal .box-direita .flex p{
    color: red;
    font-weight: 600;
    padding-top: 5px;
}

@media only screen and (min-width: 451px) and (max-width: 845px){


}

